body {
    background-color: azure;
}

input, button {
    max-height: 36px;
}

div.col {
    background-color: rgba(165, 222, 255, 0.6);
    margin-right: 0.5vw;
    padding: 0.5vw;
}

#mapForm {
    background-color: rgba(121, 195, 229, 0.6);
    padding: 0.5vw 10vw 0.5vw 0.5vw;
}

div.container > form {
    background-color: rgba(121, 195, 229, 0.6);
}

#mapid {
    height: 60vh;
}

#chartDiv {
    margin-bottom: 2vw;
}

.errorNotification {
    color: white;
    display: inline-block;
}